
body{
	 font:16px/28px arial, sans-serif;
	 background-color: #A0522D;
	 
}

.container2 {
	width:1500px;
	height:2900px;
	margin:auto;
	background-color:white;
	border:1px solid;
}
.container {
	width:1500px;
	height:3250px;
	margin:auto;
	background-color:white;
	border:1px solid;
}

.header a{
	text-decoration: none;
	color:#B8860B;
}
.header .judul{
	font-family:'balinese family';
	font-size:120px;
	padding-top:28px;
	margin-bottom:20px;
}

.header{
	 padding:30 px;
	 text-align:center;
	 padding-top:10px;
	 

}

.judul {
	
	font-size:30;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	
}

.header ul li{
	display:inline-block;
	
}


.header ul li a {
	margin-bottom:30px;
	text-decoration: none;
	MARGIN-RIGHT:25PX;
	padding:5px;
	
}

.active a{
	background-color:brown;
	color:white;
}

.header ul li :hover {
	background-color:brown;
	color:white;
	
}


.za  {
	background-color:  #fad7a0   ;
}
	
	
.atur{
	margin-left:50px;
	padding:10px 8px;
}

.atursuperior{
	margin-top:20px;
	border:1px solid;
	padding:2px;
	background:black;
	margin-left:30px;
	margin-right:50px;
	
}
.atursuperior ul li a:hover{
	background-color:yellow;
	color:black;
}

.posisi{
	margin-left:0px;
	margin-right:10px;
	padding-bottom:2px;
	
}

.jk{
	color:white;
	margin-left:5px;
}



.posisi ul li {
	display:inline-block;
	margin-bottom:20px;
	margin-right:10px;
	margin-left:10px;
	
}
.posisi ul li a{
	color:white;
	border:2px solid;
	border-color: #a04000 ;
	MARGIN-RIGHT:0,1PX;
	text-decoration:none;
	background-color: #dc7633 ;
	padding:9px;
	float:right;
	margin-left:4px;
}

.p1{
	color:white;
	text-decoration:bold;
	border:2px solid;
	border-color:white;
	text-align:center;
	width:40%;
	margin-left:200px;
}
.hed{
	text-decoration:bolt;
	color: #b9770e ;
	border:1px solid;
	text-align:center;
	background:black;
	
	
}
.end{
	color:white;
	background-color:  #42352c ;
	border:2px;
}

.cont{
	width:800px;
	height:1000px;
	margin:auto;
	background-color:white;
}

.cont{
	width:1500px;
	height:615px;
	margin:auto;
	background-color:white;
}

.slider{
	width:1500px;
	height: 600px;
	background:url(kolam.jpg);
	animation: slide 6s infinite;
	background-size:cover;
	
}
@keyframes slide {
	30%{
		background:url(cafe.jpg);
		background-size:cover;
	}
	
	70%{
		background:url(gym.jpg);
		background-size:cover;
	}

	100%{
		background:url(kolam.jpg);
		background-size:cover;
	}
}

.body{
	background-color:black;
	border:1px solid;
}
	
	