.fontface{
		font-family:"Balinese Family";
		src:('Balinese Family.ttf')format('truetype');
		
}
.fontface{
		font-family:"Bite Chocolate";
		src:('BiteChocolate-2RGl.ttf')format('truetype');
		
}
.fontface{
		font-family:"Indonesiana TrueTypeFont Powered By Fizz_Labz";
		src('Indonesiana TrueTypeFont Powered By Fizz_Labz.ttf')format('truetype');
}
body{
	 font: 16px/28px arial, sans-serif;
	 background-color: #A0522D;
	 
}

.container {
	width:1500px;
	height:1930px;
	margin:auto;
	background-color:white;
}

.header{
	 padding:30 px;
	 text-align:center;
	padding-top:10px;
}

.header .judul {
	font-size:120;
	font-weight:bold;
	text-align:center;
	font-family:'balinese family';
	
	
}

.HEADER UL LI {
	
	display:inline-block;
	MARGIN-RIGHT:23PX;
	margin-top:-68px;
	padding:5px;
	text-decoration: none;
	font-size:17.5px;
}

.HEADER P{
		text-align:RIGHT;
		margin-top:-10px;
		
}
.content h2 {
	
	text-align:center;
	margin-top:50px;
	margin-right:12px;
	margin-bottom:10;
	padding-left:200px;
	font-family:'Balinese Family';
	font-size:70px;
}
.content p {
	padding-left:320px;
	text-align: left;
	margin-left:100px;
	
	
}


.header a{
	text-decoration: none;
	color:#B8860B;
}

.hero{
	 height:600px;
	 background-image:url(HOTEL2.jpg);
	 background-size:cover;
	 background-position: 0 0px;
	 border-top: 5px solid DeepSkyBlue;
	 border-bottom: 5px solid Violet;
	 border-left:5px solid Violet;
	 border-right: 5px solid DeepSkyBlue;
	 margin-top:-40px;
}

.content ul li {
	DISPLAY: INLINE-BLOCK;
	MARGIN-RIGHT:25PX;
}
.content {
	text-align:center;
}
.content a{
	text-decoration: none;
	color:#B8860B;
}

.active a{
	background-color:brown;
	color:white;
}

.header ul li :hover {
	background-color:brown;
	color:white;
	
}


